
    body {
  cursor: url(1.gif), auto;
  -webkit-animation: cursor 110ms infinite;
  animation: cursor 110ms infinite;
}
@-webkit-keyframes cursor {
  0% {cursor: url(1.gif), auto;}
  11.1% {cursor: url(2.gif), auto;}
  22.2% {cursor: url(3.gif), auto;}
  33.3% {cursor: url(4.gif), auto;}
  44.4% {cursor: url(5.gif), auto;}
  55.5% {cursor: url(6.gif), auto;}
  66.6% {cursor: url(7.gif), auto;}
  77.7% {cursor: url(8.gif), auto;}
  88.8% {cursor: url(9.gif), auto;}
  100% {cursor: url(10.gif), auto;}
  
} 
@keyframes cursor {
  0% {cursor: url(1.gif), auto;}
  11.1% {cursor: url(2.gif), auto;}
  22.2% {cursor: url(3.gif), auto;}
  33.3% {cursor: url(4.gif), auto;}
  44.4% {cursor: url(5.gif), auto;}
  55.5% {cursor: url(6.gif), auto;}
  66.6% {cursor: url(7.gif), auto;}
  77.7% {cursor: url(8.gif), auto;}
  88.8% {cursor: url(9.gif), auto;}
  100% {cursor: url(10.gif), auto;}
}
